body {
    background-size: cover;
    background-position: center;
}

.map_board {
    position: relative;
}

.map_board img {
    height: 24cm;
    width: 38cm;
}

#map_paper {
    position: absolute;
    top: 27px;
    left: 42px;
}

.map_element {
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    position: relative;
    top: 25cm;
    height: 794px;
    left: 42px;

    .user_menu {
        display: flex;
        justify-content: space-evenly;
        height: 730px;
        width: 648px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 49px;

        p {
            position: relative;
            font-family: 'FantaisieArtistique', 'Hardinge', sans-serif;
            font-size: 40pt;
            z-index: 1;
            margin: 90px 0px 0px 0px;
            width: 56mm;
            height: 2cm;
            top: 14px;
            display: flex;
            justify-content: center;
            text-align: center;
            left: 12px;
        }

        img {
            height: 20cm;
            width: 20cm;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

#icons {
    position: absolute;
    top: 36px;
    left: 54px;
    width: 1430px;
    height: 900px;
    outline-color: blue;
}

#icons img {
    opacity: 90%;
}

.icon {
    position: relative;
    top: 0;
    left: 0;
}

svg {
    position: absolute;
    opacity: 60%;
    top: 36px;
    left: 54px;
}
/*.coast {
    position: absolute;
    top: 90%;
    left: 80%;
    width: auto;
    height: auto;
}

.map_paper img {
    width: auto;
    height: auto;
}



.coast img {
    width: auto;
    height: auto;
}

.mar img {
    width: auto;
    height: auto;
}*/