.map_board {
    position: relative;
}

.map_board img {
    height: 100%;
    width: 100%;
}

#map_paper {
    position: absolute;
    align-content: center;
    width: 90%;
    height: 90%;
    top: 32px;
    left: 60px;
    transition: transform .2s;
}

.map_element {
    position: absolute;
    top: 0;
    left: 0;
}

#icons {
    position: absolute;
    top: 40px;
    left: 80px;
    width: 1340px;
    height: 900px;
    outline-color: blue;
}

#icons img {
    opacity: 90%;
}

.icon {
    position: relative;
    top: 0;
    left: 0;
}

svg {
    position: absolute;
    opacity: 60%;
    top: 50px;
    left: 84px;
}
/*.coast {
    position: absolute;
    top: 90%;
    left: 80%;
    width: auto;
    height: auto;
}

.map_paper img {
    width: auto;
    height: auto;
}



.coast img {
    width: auto;
    height: auto;
}

.mar img {
    width: auto;
    height: auto;
}*/